#
# Save this file as a CNA file and load the script into Cobalt Strike
# Everytime a beacon calls back the pwnboard will be updated
#
sub updatePwnBoard {
    local('$pwnboard_url @curl_command');
    $pwnboard_url = '{{ server }}/generic';
    @curl_command = @('curl','-X','POST', '-H', 'Content-Type: application/json', '-d', '{"ip":"' . $2 . '","type":"cobaltstrike"}', $pwnboard_url);
    exec(@curl_command);
}
on beacon_checkin {
    local('$internal $sleep');
    $internal = beacon_info($1, "internal");
    $sleep = beacon_info($1, "lastf");
    updatePwnBoard($1, $internal);
    if ($sleep !ismatch ".*ms"){
        bcheckin($1);
    }
}
